.name-strip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 30, 56);
    padding: 10px;
    border-radius: 5px;
  }
  
  .name-strip span {
    font-size: 18px;
    font-weight: bold;
    color: rgb(93, 151, 1);
    margin-right: 1vh;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 193, 202);
    padding: 10px;
    border-radius: 5px;
  }
  
  ul li {
    /* margin-bottom: 10px; Add spacing between list items */
    margin: 10px 10px 10px 30px;
  }
  
  