.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: blueviolet;
}

.responsive-image {
  width: 100%;
  max-width: none;
  height: 47vh;
}

.App {
  text-align: center;
  /* padding: 20px; */
}

.csv-input {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if there's not enough space */
  gap: 10px; /* Adds spacing between input fields */
  justify-content: center; /* Centers the items horizontally */
}

.input-container div {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  margin: 5px 0;
}

input[type="datetime-local"] {
  margin: 5px 0;
}

button {
  margin-top: 10px;
}

textarea {
  width: 100%;
  max-width: 600px;
}
